<body class="mat-body">
	<mat-grid-list cols="2">
		<mat-grid-tile>
			<mat-card class="mat-elevation-z0">
				<mat-card-header>
					<mat-card-title>Who we are</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="bodyText">
						There are many people who would like to do community services, but don't know the places that
						offer the
						opportunity for the same. We aim to provide a platform not only to people who seek non-profit
						organizations for any opportunities where they can contribute, but also to encourage more people
						by
						rewarding them for doing good deeds. We plan on helping the organizations that are looking for
						volunteers to help them.
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="example-card mat-elevation-z0">
				<img mat-card-image src="../../assets/river.jpg">
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
	<mat-grid-list cols="2">
		<mat-grid-tile>
			<mat-card class="imgCard mat-elevation-z0">
				<img mat-card-image src="../../assets/tree.jpg">
				<mat-card-content>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="mat-elevation-z0">
				<mat-card-header>
					<mat-card-title>What we do</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="bodyText">
						We provide a broad set of services that helps NGOs and other not-profit organizations to find
						people
						for volunteer work. Similarly, individual users can find events posted by such organization on
						the portal according
						their preferences and availabilty of the work. We are planning to host a web platform that
						creates and manages volunteering
						opportunities posted by organizations. Users can search for an opportunity based on
						various criteria like location, type of service required, type of organizations listing the
						opportunities.
					</div>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</body>