<body class="mat-body">
    <div id="bannerimage"></div>
    

    <mat-card class="margin-top-sm">
        <mat-card-title class="section-heading">
            About us
        </mat-card-title>
        <hr/>
        <mat-card-content>
            There are many people who would like to do community services, but don't know the places that
						offer the
						opportunity for the same. We aim to provide a platform not only to people who seek non-profit
						organizations for any opportunities where they can contribute, but also to encourage more people
						by
						rewarding them for doing good deeds. We plan on helping the organizations that are looking for
						volunteers to help them.
        </mat-card-content>
    </mat-card>

    <div style="display: flex;" class="margin-top-sm">
        <mat-card style="flex: 1 1;">
            <mat-card-title>
                Locate Us Near You
            </mat-card-title>
            <hr/>
            <mat-card-subtitle>
                Central Offices
            </mat-card-subtitle>
            <mat-card-content>
                IRVINE REGISTERED OFFICE #1  <br/>
                <br/>
                3901 Parkview Ln,
                Irvine, CA-92612<br/>
                Contact: +1 949-994-2615<br/>
                Email: <a>info@uci.edi</a>

                <br/>
                <br/>
                IRVINE REGISTERED OFFICE #2  <br/>
                <br/>
                3901 Parkview Ln
                Irvine, CA-92612<br/>
                Contact: +1 949-994-2615<br/>
                Email: <a>info@uci.edi</a>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex: 1 1;">
            <mat-card-title>
                International Affiliation
            </mat-card-title>
            <hr/>
            <mat-card-content>
                <ul>
                    <li>We have affiliations with 1000+ NGO accross <u><strong>United States</strong></u> and <u><strong>India</strong></u>.</li>
                    <li>We are focusing on different community issues like environment change, water health and hygiene, quality education and poverty elevation issues.</li>
                    <li>We are collaborating local youth clubs, women groups for better society across the above mentioned countries.</li>
                    <li>Please feel free to reach out to us at <a>info@uci.edi</a> and we will get back to you shortly.</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</body>