.form-input-field{
    position: relative;
    width: 100%;
}

#bannerimage {
    width: 100%;
    background-image: url(../../../assets/contact_us.jpg);
    height: 50%;
    background-position: center;
  }


.section-heading{
    text-align: center;

}

.margin-top-sm{
    margin-top: 2%;
}