.form-input-field{
    position: relative;
    width: 100%;
}

.form-container{
    position: relative;
    margin: auto;
    width: 30%;
    border-radius: 1em;
    margin-top: 3%;
}

form{
    position: relative;
    margin-top: 5%;
}
mat-card-title{
    position: relative;
    padding-top: 5%;
}

mat-radio-button{
    position: relative;
    width: 50%;
}

#dobForm{
    position: relative;
    width: 46%;
}
